.nav__links{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: row;
    width: auto;
}
#active_social :hover{
    color: black;
    background-color: white;
    border-radius: 30%;
}
.nav__links :hover{
    border-bottom: 3px solid #FBE7C6;

}@media all and (max-width: 620px) {
    #Login{
        display: none;
    }
    #English{
        display: none;
    }
}